body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0fbfc;
  
}

.topnav {
  overflow: hidden;
  background-color: #3d5a80;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: +1;
}
 .p{
  color: white;
  font-size: 20px;
padding-top: 5px;
float: left;
}
.active{

  padding-top: 8px;
  padding-bottom: 6px;
}
.topnav a {
  float: right;
  display: block;
  z-index: 1;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 17px;
  margin: 5px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active{
  background-color:#ADD8E6 ;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.circle {

    width: 400px;
    height: 350px;
    
margin-right: 30%;
    padding-top: ;
    
    text-align: center;
    border-radius: 50%;
  background-color: #ef8b47;
}

.ab{
  padding-top: 0;
  padding: 2%;
  text-align: right;
  font-size: 25px;
  background-color: #98c1d9;
   margin: 40px;
}





.cd{
  padding: 2%;
  
  text-align: center;
  font-size: 25px;
   margin: 50px;
  
    
     background-color: #98c1d9;
}

.gh{
  padding: 1%;
  font-size: 30px;
  text-align: center;
  
  margin: 50px;
  
   
     background-color: #98c1d9;
}