body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0fbfc;
  
}

.topnav {
  overflow: hidden;
  background-color: #3d5a80;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: +1;
}
 .p{
  color: white;
  font-size: 20px;
padding-top: 5px;
float: left;
}
.active{

  padding-top: 8px;
  padding-bottom: 6px;
}
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 17px;
  margin: 5px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ADD8E6;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }         
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.container{
  
  background: #e0fbfc;
  font-size: 24px;
  padding: 25px;
}
.card h3,p {
  text-align: center;

}
.ha h1{
  text-align: center;
}

.ty{
  text-align: center;
}

iframe{
  width: 600px;
height:350px;
margin:  0 auto;
display: block;


}

.iframe-cont{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-cont iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}




.parallax{
    
    background: url('11.jpg') no-repeat center;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;

}

.huji{
  color: white;
    position: relative;
    z-index: 2;
    padding-top: 15%;
    font-size: 60px;
    opacity: 0.30;
}

.ni{
  
}
.a{
  
  
   background: #e0fbfc;
  font-size: 24px;
  padding: 25px;
}

.b{
    
    background: url('2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}


.c{
  
 background: #e0fbfc;
  font-size: 24px;
  padding: 25px;
}


.d{
    
    background: url('3.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.e{
  
  
   background: #e0fbfc;
  font-size: 24px;
  padding: 25px;
}


.f{
    
    background: url('4.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.g{
  
  
   background: #e0fbfc;
  font-size: 24px;
  padding: 25px;
}


.h{
    
    background: url('k.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}










.button {
  font-size: 1em;
  padding: 10px;
  color: white;
  border: 3px ;
  background: #293241;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #ef8b47;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 60px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;

  
}

.popup h2 {
  margin-top: 0;
  color: #333;
  
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 5%;
  overflow: auto;
}

@media screen and (max-width: 600px){
  
  .popup{
    width: 100%;
    z-index: 3;
  }
}



